<form [formGroup]="formContainer">
  <ng-container formArrayName="items">
    <quote-entry *ngFor="let quote of quoteForm.controls; index as i" [form]="quote" (onDelete)="removeSecurity(i)"></quote-entry>
  </ng-container>
</form>
<button mat-flat-button color="primary" class="add-button" (click)="addSecurity()">Add Security</button>
