<div class="quote-container">
  <form class="expand" [formGroup]="form">
      <mat-form-field appearance="fill" class="input-separator">
        <mat-label>Symbol</mat-label>
        <input matInput placeholder="Symbol" formControlName="symbol">
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-separator">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Amount" formControlName="amount">
      </mat-form-field>
      <span class="block input-separator">Total Price: total</span>
  </form>
  <button mat-icon-button color="warn" class="input-separator" (click)="sendDeleteSignal()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
