<!--The content below is only a placeholder and can be replaced.-->
<nav mat-tab-nav-bar mat-stretch-tabs>
  <a mat-tab-link *ngFor="let link of links"
    (click)="setActiveLink(link)"
    [routerLink]="[link]"
    [active]="isActiveLink(link)">{{link | titlecase}}</a>
</nav>
<div class="body-container">
  <router-outlet></router-outlet>
</div>
